@import url(reset.css);

/* я тебе погнул сайт, удалив часть текста
почитай о том, как идут элементы в потоке
float: right; - вываливает элемент с потока, т.е. высота родителя расчитывается по содержимому, которое идет в потоке
 */
 
 /* 
	меньше используй id...у тебя весь сайт ими засран...если где-то на странице будет похожий элемент (кнопка, див итд) - то тебе нужно будет дублировать код)....юзай class
	
 */

body {
	font: 24px/1.2 MyriadPro, Verdana, sans-serif; /* Myriad pro - в большинстве браузеров не считывается, т.к. его нет на компьютере в винде (только в опере встроен кажется) */
	color: #ffffff;
	text-align: left;
}
p {
	margin-top: 30px;
}
#header {
	overflow: hidden;
}
#wrapper {
	width: 960px;
	margin: 25px auto;
	background-color: #C0C0C0;
	padding: 20px 40px 30px;
}
#logo {
	width: 100px;
	height: 63px;
	float: left;
	margin-left: 170px;
}
#menu {
	width: 880px;
	height: 65px;
	background-color: #9F9F9F;
}
#menu ul {
	padding-top: 7px;
}
 /* id для меню не нужны, т.к. тот, кто будет натягивать на движок - будет тебя матькать, т.к. li выводятся циклом
правильно так:
nav ul li {
border-right: 2px solid #fff;
padding: 10px 10px; ( первый параметр - внутренний отступ сверху и снизу, второй - слева и справа...альтернатива padding: 10px 10px 10px 10px ...первый параметр - верх, дальше по часовой)
}

nav ul li:last-child {
border: none;
}
почитай о псевдо классах и псевдо элементов, и о выборках по ним
id с меню потри, и код ниже удали
 */

#menu2, #menu1 {
	border-right: solid 2px; /* правильнее так: толщина вид цвет ... 2px solid #fff; */
	padding-right: 15px;
}
#menu ul li {
	float: left;
	font: 36px MyriadPro, Verdana, sans-serif;
	color: #ffffff;
	float: right;
	margin-right: 20px;
}
#menu ul li a {
	color: #ffffff;
	display: block;
	text-decoration: none;	
}
#content {
	width: 880px;
	margin-top: 15px;
	background-color: #9F9F9F;
	padding: 30px;
}
#con1 {
	width: 405px; /* width 50% у теюя этот блок должен быть слева, а он справа*/
	float: right;
	padding: 30px;
	background-color: #B86C6C
}
#con2 {
	width: 405px; /* width 50% этот должен быть слева, судя по разметке хтмл, добавь float: left; */
	padding: 30px;
	background-color: #2D52B5
}

/* 
когда ты добавишь float: left - у тебя блок выволится из потока
и высота родителя будет равна 0, т.к. в нем по сути ничего не будет
чтобы это исправить, нужно этот самый поток сбросить, добавив родителю ( диву с id #content )

#content:after {
content: "";
display: table;
clear: both; - это и спросит поток...все что выше сделает псевдо элемент невидимым
}

*/
* {
box-sizing: border-box;
-moz- ... /* -moz- и -webkit- это приставки для старых браузеров, т.е. должно быть так: -moz-box-sizing: border-box; */
-webkit- ...
}
